@model IEnumerable<Library_Management_System_App.Models.BorrowRecord>

<h2>Borrow Records</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Borrow a Book</a>
</p>
<table id="datatables" class="table table-bordered">
    <thead>
        <tr>
            <th>Borrower</th>
            <th>Book</th>
            <th>Borrow Date</th>
            <th>Due Date</th>
            <th>Return Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.DueDate < DateTime.Now ? "table-danger" : "")">
                <td>@item.Borrower</td>
                <td>@(item.Book != null ? item.Book.Title : "N/A")</td>
                <td>@item.BorrowDate.ToShortDateString()</td>
                <td>@item.DueDate.ToShortDateString()</td>
                <td>@(item.ReturnDate?.ToShortDateString() ?? "Not Returned")</td>
                <td class="text-nowrap">
                    <a id="editBookForm" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary me-2">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>

                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline delete-form">
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/datatables.js"></script>
    <script src="~/js/sweetalerts.js"></script>
}
