@model IEnumerable<Library_Management_System_App.Models.Book>

<h2>Books</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Add New Book</a>
</p>
<table id="datatables" class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Quantity</th>
            <th>Published Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.ISBN</td>
                <td>@item.Quantity</td>
                <td>@item.PublishedDate.ToShortDateString()</td>
                <td class="text-nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary me-2">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>

                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline delete-form">
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="~/js/datatables.js"></script>
    <script src="~/js/sweetalerts.js"></script>
    </script>
}
